.main-contantSection {
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  border-right: 1px solid rgba(0, 0, 0, 0.199);
}

.recentWord-contantSection {
  color: #05728f;
  font-weight: 700;
  font-size: 1.7vw;
}

.Continer-RoomSearchBox-contantSection {
  height: 10%;
  padding-left: 8%;
  padding-right: 8%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
}

.RoomSearchBox-contantSection {
  width: 50%;
  height: 50%;
  padding-left: 4%;
  font-family: "Secular One", sans-serif;

  border: none;
  color: black;
  outline: none;

  border-bottom: 1px solid rgba(0, 0, 0, 0.123);

  background-color: transparent;
  font-size: 1.15vw;
}

.RoomSearchBox-contantSection::placeholder {
  font-size: 1.15vw;
}

.RoomSearchBox-contantSection:focus::placeholder {
  color: rgba(0, 0, 0);
}

.contactList-contactSection {
  width: 100%;
  height: 90%;
  overflow: hidden;
  overflow-y: scroll;
  direction: rtl;
}

.NoMatchingRoomsWereFound {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;

  width: 100%;
  height: 100%;

  font-weight: 500;
}

/* /////////////////////////////////////////////// */

@media only screen and (max-width: 800px) {
  .main-contantSection_Phone {
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    border-right: 1px solid rgba(0, 0, 0, 0.199);
  }

  .recentWord-contantSection {
    color: #05728f;
    font-weight: 700;
    font-size: 5vw;
  }

  .Continer-RoomSearchBox-contantSection {
    height: 15%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c4c4c4;
  }

  .RoomSearchBox-contantSection {
    width: 50%;
    height: 70%;
    padding-left: 4%;
    font-family: "Secular One", sans-serif;

    border: none;
    color: black;
    outline: none;

    border-bottom: 1px solid rgba(0, 0, 0, 0.123);

    background-color: transparent;
    font-size: 4.5vw;
  }

  .RoomSearchBox-contantSection::placeholder {
    font-size: 4.5vw;
  }

  .RoomSearchBox-contantSection:focus::placeholder {
    color: rgba(0, 0, 0);
  }

  .contactList-contactSection {
    width: 100%;
    height: 85%;
    overflow: hidden;
    overflow-y: scroll;
    direction: ltr;
  }

  .NoMatchingRoomsWereFound {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;

    width: 100%;
    height: 100%;

    font-weight: 500;
  }
}
