.continer-createRoom {
  width: 75%;
  height: 60%;
  background-color: whitesmoke;
  border: solid 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.8vw;
  /* position: relative; */
  transform: perspective(200px) scale(0);
  display: flex;

  color: whitesmoke;
}

.main-createRoom {
  width: 100%;
  height: 15%;

  display: flex;
}

.slide-bck-center {
  /* background-color: palevioletred; */
  animation: slide-bck-center 0.5s forwards;
}

@keyframes slide-bck-center {
  0% {
    transform: perspective(200px) scale(1);
  }
  100% {
    transform: perspective(200px) scale(0);
  }
}

.slide-fwd-center {
  /* background-color: blanchedalmond; */

  animation: slide-fwd-center 0.5s forwards;
}

@keyframes slide-fwd-center {
  from {
    /* transform: translateZ(-400px); */
    transform: perspective(200px) scale(0);
  }
  to {
    transform: perspective(200px) scale(1);
  }
}

.Participants-window-continer-createRoom {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Participants-window-createRoom {
  height: 80%;
  background-color: white;
  overflow-y: scroll;
  width: 80%;
  border: 1px solid black;
  border-radius: 0.4vw;
}

.oneParticipant-block-createRoom {
  background-color: #05728f;
  width: 100%;
  height: 10%;
  border: 1px solid whitesmoke;

  display: flex;
  justify-content: center;
  align-items: center;
}

.oneParticipant-block-createRoom:hover {
  background-color: #044a5e;
}

.addParticipantAndCreateRoom-button-createRoom {
  border: 1px solid black;
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #05728f;

  width: 65%;
  height: 45%;
}
.addParticipantAndCreateRoom-button-createRoom:hover {
  background-color: #044a5e;
}

.inputs-createRoom {
  width: 65%;
  height: 45%;
}

.inputs-area-createRoom {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-direction: column;
}

.inputAndButton-block-createRoom {
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.inputs-createRoom:focus {
  outline: none;
}

.inputs-createRoom:focus::placeholder {
  font-weight: 600;
  color: black;
}
