.main-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuWindow-menu {
  width: 25%;
  height: 100%;
  background-color: whitesmoke;
  position: fixed;
  right: -25%;
  top: 0;
  z-index: 2;
  border-left: 1px solid black;
}

.restOfTheAreaMenu-menu {
  width: 75%;
  height: 100%;
  background-color: transparent;
}

.main-menuIn-Animation {
  animation: blackScreenIn 1s forwards;
}

.main-menuOut-Animation {
  animation: blackScreenOut 1s forwards;
}

@keyframes blackScreenIn {
  from {
    background-color: transparent;
    z-index: -1;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
}

@keyframes blackScreenOut {
  from {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  to {
    background-color: transparent;
    z-index: -1;
  }
}

.slide-left {
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
    /* display: none; */
  }
  to {
    transform: translateX(-100%);
    /* display: block; */
  }
}

.slide-right {
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
    /* display: block; */
  }
  to {
    transform: translateX(0%);
    /* display: none; */
  }
}

.rotete {
  transform: rotate(90deg);
}

.menuIconContiner-menu {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 1.5%;
}

.areaOfCreateRoom-menu {
  background-color: transparent;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

