.main-oneContant {
  background-color: whitesmoke;
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
  border-left: 1px solid rgba(0, 0, 0, 0.199);

  width: 100%;
  min-height: 15%;
  max-height: 15%;

  color: black;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* font-family: "Secular One", sans-serif; */
  font-family: sans-serif;
  direction: ltr;

  overflow: hidden;

  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 3%;
}

.main-oneContant:hover {
  background-color: rgba(128, 128, 128, 0.205);
}

.Continer-roomName-oneContant {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.3vw;
  width: 100%;
}

.roomName-oneContant {
  font-size: 1.75vw;
  font-weight: 400;
}

.numberOfUnreadMessages-oneContant {
  font-size: 1vw;
  font-weight: 600;

  background-color: rgba(128, 128, 128, 0.205);
  border-radius: 50%;
  aspect-ratio: 1.3/1;
  padding-inline: 0.75vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lastMessage-oneContant {
  font-size: 1.15vw;
  font-weight: 200;
  color: rgb(0, 0, 0);

  word-break: keep-all;
  white-space: nowrap;
}

.lastMessage-creationTime-oneContant {
  width: 100%;
  font-size: 1vw;
  text-align: end;
}

.roomCreationTime-oneContant {
  width: 100%;
  font-size: 85%;
  text-align: start;
  height: max-content;
}

.typing-oneContant {
  font-size: 1.05vw;
  padding-bottom: 5%;

  color: green;

  /* background-clip: text;
  color: transparent; */
  /* animation: gradient-text 0.5s infinite; */
}
/* font-size: clamp(10px, 2.5vw, 30px); */

@media only screen and (max-width: 800px) {
  .main-oneContant {
    width: 100%;
    min-height: 20%;
    max-height: 20%;

    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
  }

  .roomName-oneContant {
    font-size: 5.5vw;
    font-weight: 400;
  }

  .numberOfUnreadMessages-oneContant {
    font-size: 3.5vw;
    border-radius: 50%;
    padding-inline: 2.5vw;
  }

  .lastMessage-oneContant {
    font-size: 3.5vw;
    font-weight: 200;

    word-break: keep-all;
    white-space: nowrap;
  }

  .lastMessage-creationTime-oneContant {
    width: 100%;
    font-size: 3vw;
    text-align: end;
  }

  .typing-oneContant {
    font-size: 4.5vw;
    padding-bottom: 5%;
  }
}
