.main-signUpPage {
  width: 100vw;
  height: 100vh;
  background-color: #1e2088;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.signUpWord-signUpPage {
  font-size: 2.5vw;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(20, 20, 151);
}

.logo-signUpPage {
  width: 100%;
}

.logo-signUpPage img {
  width: 30%;
}

.inputs-signUpPage {
  height: 40%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.signUpButton-signUpPage {
  border: 0.01vw solid black;
  width: 30%;
  height: 8%;
  border-radius: 0.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
}

.form-signUpPage {
  background-color: white;
  opacity: 0.9;
  box-shadow: 0px 0px 0.6vw 0.5vw rgba(0, 0, 0, 0.4);
  width: 32%;
  height: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 1vw;
}

.signUpButton-signUpPage:hover {
  background-color: rgb(220, 219, 219);
  cursor: pointer;
}

.input-signUpPage {
  height: 32%;
  padding-left: 1vw;

  padding-top: 0.3vw;

  font-size: 1.15vw;
}

.input-signUpPage::placeholder {
  font-size: 1.15vw;
}

.errorLine-signUpPage {
  color: red;
  height: 7%;
  font-size: 1vw;
}

.toRegister-SignPage {
  color: cornflowerblue;
  font-size: 1.8vw;
}

.toRegister-SignPage:hover {
  color: purple;
  cursor: pointer;
}

@media only screen and (max-width: 830px) {
  .signUpWord-signUpPage {
    font-size: 5vw;
  }

  .signUpButton-signUpPage {
    width: 35%;
    height: 8%;

    font-size: 3vw;
  }

  .form-signUpPage {
    width: 60%;
  }

  .input-signUpPage {
    height: 32%;
    padding-left: 2vw;

    font-size: 3vw;
  }

  .input-signUpPage::placeholder {
    font-size: 3vw;
  }

  .errorLine-signUpPage {
    font-size: 2vw;
  }

  .toRegister-SignPage {
    font-size: 3.5vw;
  }
}
