.continer-createRoom_Phone {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border: solid 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.8vw;
  /* position: relative; */
  transform: perspective(200px) scale(0);
  display: flex;

  color: whitesmoke;
}

.main-createRoom_Phone {
  width: 100%;
  height: 15%;

  display: flex;
}

.Participants-window-continer-createRoom_Phone {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Participants-window-createRoom_Phone {
  height: 80%;
  background-color: white;
  overflow-y: scroll;
  width: 80%;
  border: 1px solid black;
  border-radius: 0.4vw;
}

.oneParticipant-block-createRoom_Phone {
  background-color: #05728f;
  width: 100%;
  height: 10%;
  border: 1px solid whitesmoke;

  display: flex;
  justify-content: center;
  align-items: center;
}

.addParticipantAndCreateRoom-button-createRoom_Phone {
  border: 1px solid black;
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #05728f;

  width: 65%;
  height: 45%;
}
.addParticipantAndCreateRoom-button-createRoom_Phone:hover {
  background-color: #044a5e;
}

.inputs-createRoom_Phone {
  width: 65%;
  height: 45%;
}

.inputs-area-createRoom_Phone {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-direction: column;
}

.inputAndButton-block-createRoom_Phone {
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.inputs-createRoom_Phone:focus {
  outline: none;
}

.inputs-createRoom_Phone:focus::placeholder {
  font-weight: 600;
  color: black;
}

.hover-this-block-class_Phone:hover {
  background-color: #044a5e;
}
